/* Custom colors for item buttons */
.btn-pink{
  background-color: #c46c98;
}

.btn-lime{
  background-color: #98e29c;
}

.btn-blue{
  color: white;
  background-color: #373860;
}

.btn-yellow{
  background-color: #b7a157;
}

.btn-purple{
  color: white;
  background-color: #453857;
}

.btn-tulle{
  color:white;
  background-color: #503428;
}

.btn-green{
  background-color: #667f4f;
}
