<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/heart-top/blueHeartTop.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">LONG SLEEVE FITTED HEART STRIPED TOP WITH LONG SLEEVE</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-blue">Blue</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-lime">Lime</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/pants/pantalonAmarillo.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">ARCHIVE EXTRA LIFE GREEN SKY HEARTS PANTS</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-yellow">Yellow</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-blue">Blue</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-lime">Lime</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-secondary">Black</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/side-heart-dress/limeSideHeart.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">STRIPED DRESS WITH SIDE HEART DETAIL</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-lime">Lime</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-blue">Blue</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/fur-hearts-coat/pinkFurCoat.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">OMEGA RECYCLED FUR HEARTS COAT SPECIAL</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-white">White</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/crop-top/blackCropTop.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">CROP TOP LONG SLEEVE HEART</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-secondary">Black</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-lime">Lime</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/leather-top/pinkLeatherTop.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">LAMINATED LEATHER TOP</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-purple">Purple</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-blue">Blue</button>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/bicolor-sweatshirt/whiteBicolorSweatshirt.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">BICOLOR SWEATSHIRT</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-white">White</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-pink">Pink</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-blue">Blue</button>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/images/items/neoprene-body/tulleMuscles.jpg" class="itemImage">
          <div class="card-body">
            <p class="card-text">NEOPRENE BODY MUSCLES</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark btn-tulle">Tulle</button>
                <button type="button" class="btn btn-sm btn-outline-dark btn-green">Green</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
