<!-- Botón de volver a productos -->
<!-- <button class="back">Volver</button> -->
<!-- Contenedor con el producto y los detalles -->
<div class="container">
  <div class="images">
    <img src="{{ producto?.image }}" />
  </div>
  <p class="pick">Choose color</p>
  <div class="colors">
    <!-- Un botón para cada color de artículo (dinámicamente) -->
    <button type="button" class="color" (click)="changeImg(color)" *ngFor="let color of producto?.colors?.split('/')">{{ color }}</button>
  </div>
  <div class="product">
    <p>Producto {{ producto?.id }}</p>
    <h1>{{ producto?.name }}</h1>
    <p class="desc">{{ producto?.description }}</p>
    <h2>Puja más alta: {{ maxBid }}€</h2>
    <!-- Uso formGroup por si se introducen más campos en el futuro -->
    <form [formGroup]="bidForm" (ngSubmit)="guardarPuja()">
      <input class="form-control me-2" type="number" placeholder="Introduce puja"  aria-label="Search" formControlName="bidPrice"><br>

      <div class="buttons">
        <button class="add" type="submit">Introduce tu puja</button>
      </div>
    </form>
    <!--  -->
  </div>
</div>

