<!-- Botón de volver a productos -->
<!-- <button class="back">Volver</button> -->
<!-- Contenedor con el producto y los detalles -->
<div class="container">
  <div class="images">
    <img [src]="actualImage" />
  </div>
  <p class="pick">Choose color</p>
  <div class="colors">
    <!-- Un botón para cada color de artículo (dinámicamente) -->
    <button type="button" class="color" (click)="changeImg(color)" *ngFor="let color of producto?.colors">{{ color }}</button>
  </div>
  <div class="product">
    <p>Producto {{ producto?.id }}</p>
    <h1>{{ producto?.name }}</h1>
    <h2>Puja inicial: {{ producto?.price }}€</h2>
    <p class="desc">{{ producto?.description }}</p>
    <div class="buttons">
      <button class="add">Introduce tu puja</button>
    </div>
  </div>
</div>

