<div class="album py-5" >
  <div class="container" >
    <div class="" >
      <!-- DIV DE PRODUCTO -> usamos ng-container porque necesitamos un div que no se muestre si no se cumple el if -->
      <!-- Si usamos un div normal se generaría uno por cada elemento del for each (ocupando espacio), esto no nos interesa -->
      <ng-container *ngFor="let bid of bids">
          <div>
            <p>{{ bid.id }} --- {{ bid.price }} --- {{ bid.idProducto }}</p>
          </div>
      </ng-container>
      <!--  -->
    </div>
  </div>
</div>
